version: "3.8"

services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    env_file:
      - ./server/.env
    container_name: backend

  client:
    build: ./client
    ports:
      - "3000:3000"
    container_name: frontend
    depends_on:
      - server
